@media (max-width: 680px) {
    .footer__links {
        margin: 24px 24px;
        gap: 32px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .footer__links {
        margin: 0;
    }
}