.footer__copyright {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: right;
}

@media (max-width: 760px) {
    .footer__copyright {
        line-height: 14px;
        margin: 48px 24px 0 0;
    }
}