.intro {
    max-width: 690px;
    margin: 92px 0 0 140px;
}

@media (max-width: 1024px) {
    .intro {
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px 24px 16px;
    }
}

@media (width:320px) {
    .intro {
        margin: 64px 0 0;
        max-width: 288px;
    }
}