.footer {
    max-width: 1184px;
    margin: 92px 48px 24px;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer {
        margin: 90px 24px 24px;
    }
}

@media (max-width: 766px) {
    .footer {
        max-width: 186px;
        margin: 64px 0 24px 16px;
        flex-direction: column;
    }
}